body {
    color: #282425;
    background-color: #FFD39B;
    font-family: "Raleway", sans-serif;
font-size: 20px;
line-height: 1.3;
margin: 20px 20px 20px 20px;}




.foto-zivotopis{
    width: 150px;
    border-radius: 50%;
    float: left;
    padding: 10px;
    margin: 0 20px 20px 0
}

header {text-align: center}

.a{text-style: italic;}

.zahlavi{background-color: #FFE7BA}
section{background-color: #FFE7BA; overflow: visible;}

footer{text-align: center;}